<!-- Grid row -->
<div class="row">
  <!-- Grid column Shop -->
  <div class="col-md-6 mb-4">
    <div class="card">
      <div class="card-body">
        <h3 class="text-center default-text py-3">
          <i class="fa fa-product-hunt"></i> Add New Shop Category
        </h3>
        <!--Body-->
        <!-- Small modal -->
        <button
          type="button"
          class="btn btn-primary show-btn"
          data-toggle="modal"
          data-target="#showShopCategory"
        >
          Show Me Categories
        </button>
        <div class="add-product-cat-form">
          <span *ngIf="isSuccessful"> Category Added </span>
        </div>
        <form
          name="form"
          (ngSubmit)="f4.form.valid && onSubmitAddShopCategory()"
          #f4="ngForm"
          novalidate
        >
          <div class="md-form">
            <label for="shop-category">Shop Category Title</label>
            <input
              id="shop-category"
              class="form-control"
              type="text"
              [(ngModel)]="form.shopCategory"
              name="shopCategory"
              #shopCategory="ngModel"
              required
            />
             <label for="shop-cate-img">Product Image</label>
                          <div class="md-form">
                            <input
                              id="shop-cate-img"
                              class="form-control"
                              type="file"
                              (change)="onChange($event)"
                            />
                          </div>
          </div>
          <div class="text-center">
            <input
              class="btn btn-default waves-effect waves-light"
              type="submit"
              name=""
              value="Add"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
  <div
    class="modal fade bd-example-modal-sm"
    tabindex="-1"
    role="dialog"
    id="showShopCategory"
    aria-labelledby="showShopCategory"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <h3 class="text-center default-text py-3">
          <i class="fa fa-product-hunt"></i> Show Shop Categories
        </h3>
        <table class="table table-dark">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Shop Category</th>
              <th scope="col">Opration</th>
            </tr>
          </thead>
          <tbody>
            <tr
              scope="row"
              *ngFor="let apc of allShopCat; let i = index"
              [attr.data-index]="i"
            >
              <td>{{ i + 1 }}</td>
              <td>{{ apc.shop_cate_title }}</td>
              <td><a href="">Delete</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- Grid column 1 -->
</div>
